*{box-sizing: border-box;}
.name{background-color: rgb(0, 60, 255);}
.photo1{width: 350px;
    margin-top: 50px;}
.photo2{width: 350px;}
.photo3{width: 350px}
  
  .a_figure {
    margin: 0px;
  }
  
  .photo_container_1, .photo_container_2, .photo_container_3 {
    width: 30%;
    display: inline-block;
    margin-left: 2em;
    position: relative;
    font-family: Arial;
  }
  
  .photo1, .photo2, .photo3 {
    width: 85%;
  }
  
  /* Photo 1 - Invert */
  
  .photo1 {
    filter: invert(72%);
  }
  
  .tbox1{
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid white;
  }
  
  .tbox1_header {
    color: blueviolet;
    font-size: 110%;
    margin: 0px;
    margin-bottom: 5%;
  }
  
  .tbox1_p {
    color: white;
    font-size: 90%;
    margin: 0px;
  }
  
  /* Photo 2 - Blur */
  
  .photo2 {
    filter: blur(10px);
  }
  
  .tbox2 {
    position: absolute;
    top: 35%;
    left: 15%;
    right: 15%;
    padding: 8%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 20px black;
  }
  
  .tbox2_header {
    color: black;
    font-size: 2em;
    margin: 0px;
  }
  
  .tbox2_para1 {
    color: black;
    font-size: 1.25em;
    margin-bottom:15%;
  }
  
  .tbox2_link {
    background-color: rgb(100, 35, 0);
    padding: 0.4em 2em 0.4em 2em;
    border-radius: 12px;
    color: white;
    text-decoration: none;
  }
  
  .tbox2_link:hover {
    background-color: rgb(144, 144, 238);
    color: black;
    border: solid black;
  }
  
  /* Photo 3 Sepia */
  .photo3 {
    filter: sepia(25%);
  }
  
  .tbox3 {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 30%;
    right: 30%;
    font-size: 2em;
    font-family: "Arial Bold";
    color: rgb(52, 44, 44);
  }
  
  .tbox3_para1 {
    position: absolute;
    top: 0%;
    left: 5%;
    right: 40%;
    color: rgb(255, 255, 255);
  }
  
  